{% extends 'base.html.twig' %}

{% block body %}
<ul>
    {% for article in articles %}
        <li>
            <p>
                {{ article.title }}
            </p>
            <ul>
                {% for tag in article.tags %}
                    <li>{{ tag.name }}</li>
                {% endfor %}
            </ul>
            <a href="{{ path("article_show", {slug: article.slug}) }}">Show</a>
            <a href="{{ path("article_update", {slug: article.slug}) }}">Update</a>
            <a href="{{ path("article_delete", {slug: article.slug, token: csrf_token("delete")}) }}">Delete</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ path("article_create") }}">Create</a>
{% endblock %}